@import "~vue-material/dist/theme/engine";
@import "~vue-material/dist/theme/all"; 

* {
  color:white;
}

.mainWrapper {
  min-height: 75vh;
  max-height: calc(100% - 10%);
  overflow: hidden;
  padding-top: 2rem;
  overflow-y: auto;

  * {
    display: block;
    margin: 0 auto;
  }
}

.md-list-item-content {
  min-height: unset;
  white-space: pre-line;
}